<h1>Bands - New</h1>
<form action="<%= bands_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="form_authenticity_token">

  <label>Name:
    <input type="text" name="" value="">
  </label>
<br>
  <input type="submit" value="Sign Up">
</form>
